body {
  font-family: Helvetica;
  margin: 0;
}
div {
  display: flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: #000;
}
.site-header { 
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-identity {
  float: center;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: 1.04em 0 .3em 0;
  display: inline-block;
}

.site-identity img {
  max-width: 55px;
  float: left;
  margin: .7em 10px 0 0;
}

.table{
  table-layout: fixed;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid black;
  vertical-align: middle;
  border-collapse: collapse;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: center;
  padding: 5px;
  border: 1px solid black;
  vertical-align: middle;
  border-collapse: collapse;
}
                           
th{
  padding: 5px;
  width: 250px;
  table-layout: fixed;
  border: 1px solid black;
  vertical-align: middle;
  border-collapse: collapse;
}




.bn62 {
  text-align: center; 
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  text-size: 100px;
  font-size: small;
  font-weight: 200;
  margin-left:auto;margin-right:auto;margin-top:2%;
}



.bn63 {
  text-align: center; 
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 8em;
  text-size: 100px;
  font-size: small;
  font-weight: 200;
  margin-left:auto;margin-right:auto;margin-top:2%;
}

.form-center {
  display:flex;
  justify-content: center;
}









.div-table {
  display: table;         
  width: 100%;         
}
.div-table-row {
  display: table-row;
  width: auto;
  clear: both;
}
.div-table-col {
  float: right; 
  display: table-column;         
          
}
